html{
    background-color: beige;
    
}
h1  { 
        color: black;
        text-align: center;
} 
span {
    color:red;
}
p {
    border: 1px solid red;
    background-color: bisque;
}
button {
    color: orange;
    
}
body {
    text-align: center;
}
.abc {
    color:blue;
}
.ejemplo{
    color:grey;
}
footer{
    color: grey;
}